# Node.js dependencies (if applicable)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# OS-specific files
.DS_Store              # macOS
Thumbs.db              # Windows
desktop.ini            # Windows

# Temporary files and folders
*.tmp
*.swp
*.swo
*.bak
*.orig

# Build output (if applicable)
dist/
build/

# Cache files
.cache/
.vscode/
.dist

# IDE-specific files
.idea/
.vscode/
*.iml

# Three.js cache (if applicable)
threejs_cache/

# Generated assets or temporary assets (if applicable)
assets/cards/*.tmp     # Temporary card assets

# Environment variables (if applicable)
.env

# Ignore compiled or temporary files
*.out
*.exe
*.class

# Ignore Git-specific files
.git/

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
